<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{character?.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/list"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-img [src]=" 'https://genshin.jmp.blue/characters/' + id + '/portrait' "></ion-img>
    <ion-card-header>
      <ion-card-title>{{character?.name}}</ion-card-title>
      <ion-card-subtitle>{{character?.vision}}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-card-title>Rarity</ion-card-title>
      <ion-card-subtitle>{{character?.rarity}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Constellation</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-card-subtitle> {{character?.constellation}}</ion-card-subtitle>
    </ion-card-content>
  </ion-card>

</ion-content>
