<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon aria-hidden="true" name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about" href="/about">
      <ion-icon aria-hidden="true" name="analytics"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="list" href="/list">
      <ion-icon aria-hidden="true" name="list"></ion-icon>
      <ion-label>List</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="create" href="/create">
      <ion-icon aria-hidden="true" name="create"></ion-icon>
      <ion-label>Create</ion-label>
    </ion-tab-button>


  </ion-tab-bar>



</ion-tabs>
